<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>CDBookStore</h3>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="#homeSubmenu">
          <i class="fas fa-home"></i>
          Home
        </a>
        <a href="#">
          <i class="fas fa-briefcase"></i>
          About
        </a>
        <a href="#pageSubmenu">
          <i class="fas fa-store"></i>
          Store
        </a>
        <a href="#">
          <i class="fas fa-chart-bar"></i>
          Inventory
        </a>
        <a href="#">
          <i class="fas fa-cogs"></i>
          Generator
        </a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">

    <router-outlet></router-outlet>

  </div>
</div>
